# Django
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/db.sqlite3
backend/.env
backend/media/
backend/static/
backend/staticfiles/

# React
frontend/node_modules/
frontend/build/
frontend/.env

# عام
.vscode/
.env
db.sqlite3
*.pyc
__pycache__/
tests_ufuq.rar
__pycache__/
*.pyc
backend/*/migrations/*.pyc
# Ignore migration files except __init__.py
backend/*/migrations/[!__init__]*.py
